.banner_bulk img{
    margin-top: 150px;
    border-radius: 20px;
    width: 100%;
}
.form-group label{
    font-weight: 600;
    margin-top: 18px !important;
}
.card_second_section{
      /* padding: 150px; */
      margin-top: 50px;
      padding-right: 150px;
      padding-left: 150px;
}
.bulk_submit_btn{
    background-color: #484c62;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    height: 48px;
    width: 225px;
    padding: 0px;
    margin-top: 23px;
    border-radius: 20px;
    border: 2px solid transparent;
}
.card_second_section h1{
    animation: fadeIn 1s ease-in-out;
    font-weight: 400;
    text-align: left;
    margin-left: 5px;
    font-size: 28px;
    margin-bottom: 40px;
}
.bulk_para{
    margin-top: 40px !important;
}
.bulk_para p{
    text-align: center;
    margin-left: 0px;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 40px;
    font-family: "Jost", sans-serif !important;
}
.bulk_para h3{
    font-size: 25px;
    text-align: center;
   margin: 30px 0px;
   font-weight: 600 !important;
}

@media only screen and (max-width: 480px) {
    .card_second_section {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 780px) {
    .card_second_section {
        padding-right: 0px;
        padding-left: 0px;
    }
}