.travel_bg{
    background-image: url('../../assets/bg_img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
    /* bottom: 50%; */
    height: 400px;
    width: 82%;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    /* top: -105px; */
}
.travel_txt {
    font-size: 70px;
    position: absolute;
    color: black;
    text-align: center;
    margin: 0px 0px;
    margin-left: 80px;
    top: 38%;
    font-weight: 500;
    font-family: "Regular";
}
.travelll{
    font-family: "Jost",sans-serif;
    font-weight: 400;
}
.travel_kit h1{
    text-align: center;
    margin-top: 180px;
   
    font-size: 50px;
    text-transform: uppercase;
}
.creation{
    width: 95px;
}
.creation1{
    width: 108px;
}
.creation2{
    width: 175px;
}
.slider_kit{
    width: 90%;
    height: 100%;
    max-height: 100%;
}
.slider_kit img{
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 10px 15px;
    margin: 10px 15px;
}
.text-center1{
    text-align: center;
   
    text-transform: uppercase;
    margin-top: 70px;
    font-size: 22px;
}
.headingKit{
    margin: 20px 0px;
    
    text-transform: capitalize;
    font-weight: 600;
}
.TravelKit_video h5{
  margin-bottom: 30px;
  margin-top: 20px;

font-weight: 600;

}
.TravelKit_video{
    max-width: 100%;
    text-align: center !important;
    max-height: 100%;
    /* background-color: rgb(221, 208, 90); */
    /* padding: 10px 0px; */
    /* border-radius: 20px; */
}
.TravelKit_video_section{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    
}
.TravelKit_video2{
    max-width: 100%;
    text-align: center !important;
    max-height: 100%;
}
.TravelKit_video_section2{
    width: 65%;
    height: 30%;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.Scent_txt h5{
    
    font-weight: 600;
    text-align: center;
}
.Scent_img_row{
    padding: 10px 0px ;
    margin: 10px 0px;
    width: 100%;
    /* height: 100; */
}
.scent_img1{
    /* border-radius: 30px; */
    height: 210px;
    width: 49%;
    padding-left: 1px;
}
.scent_img1 p{
   text-align: center;
   font-family: "Jost", sans-serif;
   margin: 10px 0px;
   font-size: 20px;
   font-weight: 400;
}
.scent_img1 img{
    /* padding: 0px 20px !important; */
    border-radius: 20px ;
    width: 95%;
}
.scent_graph{
    
    background-color: #c9c9b0;
    margin-top: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.scent_graph h3{
    text-transform: uppercase;
    text-align: center;
    
    font-weight: 600;
}
.sidebar1{
    position: fixed;
    top: 0;
    /* right: 0;  */
    width: 100%;
   
    background-color: rgba(0, 0, 0, 0.5); 
    transition: right 1s ease-in-out;
    z-index: 99;
}
.sidebar1.open {
    /* right: 0 !important; */
    transition: all 1s ease-in-out;
    overflow: scroll !important;
  }
.scent_graph p{
    text-transform: capitalize;
    /* padding: 10px 20px; */
    padding-left: 35px;
}
.scent_graph_txt{
    margin: 50px 0px;
}
.scent_graph_txt h5{

font-weight: 600;
line-height: 25px;
}
.scent_graph_txt p{
    margin: 8px 0px !important ;
   /* text-align: center; */
   margin-left: 40px !important;
}
.scent_graph_txt2{
    margin: 45px 0px;
    padding-left:  55px; 
}
.scent_graph_txt2 h5{
font-weight: 600;
line-height: 35px;

}
.para_txt{
  font-weight: 400;text-transform: capitalize;
}
/* .scent_graph_txt2 p{
   
    margin: 8px 0px !important ; 
   /* text-align: center; */
   /* margin-left: 40px !important;
} */
.select-img_kit{
    width: 155px;
    height: 100px;
}
.contained:hover .select-img_kit{
    opacity: 0.3;    
    }
.cart-buton{
    background: black;
    color: white;
    border: none;
}
.steps_kit h5{
    font-weight: 500;
    
    margin-top: 15px;
}
.steps_kit{
    justify-content: space-between;
    display: flex;
}
.add1{
    font-weight: 600;
    
}

.slider_txt_kit{
    margin: 40px 20px;
    margin-top: 100px !important;
}
.slider_txt_kit2 {
    background-color: wheat;
    color: black;
    width: 87% !important;
    border-radius: 20px;
  /* margin: 0px 20px; */
  padding: 0px 10px;
  height: 340px !important;
}
.slider_txt_kit3{
  height: 340px !important;
  width: 90% !important;
}
.slider_txt_kit2 h3{
    /* margin-top: 10px; */
    padding: 10px 10px;
}
.slider_txt_kit2 p{
    margin-top: 20px;
    padding: 10px 10px;
}
.slider_txt_kit3 img{
   padding: 0px 10px;
   width: 100%;
   height: 330px;
   border-radius: 30px;
}
.review {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
}
.review p{   
    /* text-align: center; */
    /* font-family:"Regular"; */
    font-weight: 500;
}
.review h4{
    text-align: center;
    font-family:"Regular";
    font-weight: 600;
}
.input_type_kit{
    width: 43%;
    margin: 12px 0px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none; box-shadow: 0 4px 10px 0 rgb(199, 198, 194);
    outline: none;
  }
  .Submit_btn_kit{
    width: 100px;
    height: 42px;
    padding: 6px;
    /* padding: 10px 40px; */
    margin: 10px 0px;
    margin-left: 39px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    outline: none;
  }
  .comment{
text-align: center;
  }
  .comment_txt{
    text-align: start;
  }
  .fragnace_kit img {
    height: 130px;
    width: 130px;
    border-radius: 10px;
    }
.cancel_btn_kit{
    background: none;
    border: none;
    position: fixed;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
}
.select_kit{
    background-color:#333333;
    overflow-y: scroll;
    width: 57%;
    
}
.red{
    height: 15px;
    width: 200px;
    border-radius: 10px ;
    background-color: #8d5c5c;
    margin-left: 50px;
}
.fresh{
    height: 15px;
    width: 200px;
    border-radius: 10px ;
    background-color: #a7bfd4;
    margin-left: 50px;
}
.stylish{
    height: 15px;
    width: 200px;
    border-radius: 10px ;
    background-color: #7cbeb6;
    margin-left: 50px;
}
.clicked {
    border: 2px solid red; /* You can customize the border style here */
  }
/******************* Explore Kit ***************************/
.explore_kit h5{
    margin: 10px 0px;
    font-weight: 400;
    text-transform: uppercase;
}
.scent_kit_img{
    width: 131px;
}
.scent_kit_img img{
width: 120px;
height: 100px;
}
.scent_kit_img p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    text-transform: uppercase;
   
}
.txxt{
    font-weight: 500;
    font-size: 17px;
}
.offer img{
    height: 50px;
    width: 70px;
}
.offer{
    text-align: center;
    font-size: 22px;
    font-weight: 500 !important;
    
    text-transform: uppercase;
}
.copy_btn{
    border: none;
    background-color: transparent;
}
.cope-btn{
  margin-left: 43px;
}
.offer_code1{margin: 10px 48px;
    padding: 10px 115px;
   background-color: #c9c9b0;
   border-radius: 10px;
   text-align: center;
}
.offer_code{
    margin: 10px 0px;
    font-size: 16px;
}
/* Product Page */
.descriptionLine {
    border: 1px solid black;
    height: 2px;
    width: 100%;
    display: block;
}
/* li {
    color: black;
} */


.scent_kit_img1 img {
    width: 153px !important;
    height: 60px;
    border-radius: 10px;
}

.scent_kit_img2 img {
    width: 196px !important;
    height: 60px;
    border-radius: 10px;
}

.scent_kit_name {
    position: relative;
    bottom: 40px;
    color: white;
    font-weight: 900;
    font-size: 20px;
}

.ScentImgOuterBox{
    border-radius: 10px;
    padding: 20px;
    background-color: bisque;
}

.ScentImgInnerBox{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
.ScentImgInnerBox h2{
    font-weight: 500 !important;
}

.ScentImgOuterBox2 h2{
    font-weight: 500 !important;
}

.ScentImgOuterBox2{
    border-radius: 10px;
    padding: 20px;
    background-image: url("../../assets/frag_img2.png");
    background-position: center;
    background-size: cover;
}

.ScentImgOuterBox3{
    border-radius: 10px;
    padding: 20px;
    background-image: url("../../assets/frag_img3.png");
    background-position: center;
    background-size: cover;
}

.ScentImgInnerBox2{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.ScentTagbutton{
    border: 1px solid black;
    background-color: #333333;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 5px ;
}

.familyImgcontaint{
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
}

.showgraph{
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 90;
}

.innershowgraph{
  padding: 20px;
}

.showgraph {
    height: 700px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
    position: fixed;
    padding-bottom: 70px;
}
.searchbuttoniconbox{
    border: 1px solid white !important;
    border-left: none !important;
    background-color: transparent !important;
}

.searchbuttonbox{
    background-color: transparent !important;
    color: white !important;
}

.searchbuttonbox::placeholder {
    color: white !important;
}

select.form-select {
    color: white;
    background-color: #333;
}

select.form-select option {
    color: white;
    background-color: #333;
}

.form-select {
    --bs-form-select-bg-img: url("../../assets/filter_dropicon_img.png") !important;
    background-color: transparent !important;
color: #fff;
}
.f-c2{
    color: #fff !important;
    background-color: transparent !important;
}
.f-c2::placeholder{
    color: #fff;
}
.custom-select{
    color: #fff !important;
}
.custom-select option{
    background-color: rgb(78, 77, 77);
    color: #fff;
}
.sidbarbottonbuttonbox{
     padding: 15px 10px;
    position: fixed !important;
    /* position: absolute !important; */
    bottom: -30px;
    bottom: 0; background-color: rgb(78, 77, 77);
    width: 56%;
}
.sidbarcancelbutton{
    width: 97%;
    text-align: center;
    background-color: transparent;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    border: 1px solid #C9C9B0;
}
.sidbarcancelbutton:hover{
    background-color: #C9C9B0;
    color: black;
}
.sidbarapplybutton{
    width: 97%;
    background-color: transparent;
    text-align: center;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    border: 1px solid #C9C9B0;
}
.sidbarapplybutton:hover{
    background-color: #C9C9B0;
    color: black;
}
.select_kitinnerbox{
    margin-bottom: 115px;
}
.sidbarcontainerbox{
    overflow: hidden;
    overflow-y: scroll;
    height: 373px;
}
.backk_btn{
    display: none;
}
.filtr{
    margin: 0px 20px;
}
.filtr2{
width: 45%;
}
@media only screen and (max-width: 480px) {
.travel_kit h1 {
    text-align: center;
    margin-top: 120px;
    font-size: 25px;
}
.slider_kit img{
    margin-top: -9px;
    width: 97%;
    margin: 10px 23px;
}
.text-center1{
    margin-top: 47px;
    font-size: 25px;
}
.creation{
    width: 87px;
}
.creation1{
    width: 107px;
}
.creation2{
    width: 175px;
}
.review{
    /* margin-top: 80px !important; */
    width: 80%;
}
.input_type_kit {
    width: 55%;
}
.Submit_btn_kit{
    margin-left: 15px;
}
.comment_txt{
    text-align: center;
}
.TravelKit_video_section2{
    width: 85%;
    margin-top: 23px;
}
.slider_txt_kit2{
    width: 91%;
    margin-left: 23px;
}
.slider_txt_kit3 img{
    margin-left: 20px;
    width: 97%;
}
.select_kit{
    width: 100%;
    padding: 10px 15px;
}
.cancel_btn_kit{
    right: 10px !important;
}
.sidebar1.open {
    right: 0px !important;
}
.scent_kit_img {
    width: 123px;
}
.scent_img1{
    height: 125px;
}

.showgraph{
    z-index: 100;
}
.offer_code1 {
    margin: 0px 0px;
    padding: 10px 15px;
}
.for_responsive{
    width: 90%;
}
.for_responsive2{
    width: 100%;
    margin: 10px 0px;
    margin-left: -40px;
}
.fragnace_kit img {
    height: 90px;
    width: 98px;
}
.sidbarbottonbuttonbox {
    width: 100%;
    margin-left: -15px;
}
.sidbarcancelbutton {
    margin-bottom: 8px;
}
.sidebar1 {        
    z-index: 9;
}
/* .showgraph {
    position: absolute;
     z-index: 10;
} */
.backk_btn{
    display: block;
    margin: 10px 35px;
    font-size: 25px;
}
.showgraph {
    width: 100%;
    margin-left: -5px;
    padding-top: 5px;
    padding-bottom: 40px;
}
.ScentImgOuterBox2 {
    padding: 10px;
    width: 93%;
}
.scent_graph {
    width: 348px;
}
.scent_graph_txt {
    margin: 30px 0px;
    padding: 0px 50px;
}
.scent_graph_txt2 {
    margin: 30px 0px;
    padding: 0px 50px;
}
.TravelKit_video_section {
    width: 93%;
    margin-left: -25px;
}
.recharts-wrapper{
  width: 325px !important;
height: 237px !important;
}
.filtr {
    margin: 1px 0px;
    width: 97%;
}
.filtr2 {
    margin-top: 15px;
    width: 97%;
}
}